
*.ipynb
*.ipynb
tests/data/bb/2/0011
tests/data/bb/2/0110
tests/data/bb/2/1001
tests/data/bb/2/1100
tests/data/bb/3/0012
tests/data/bb/3/0021
tests/data/bb/3/0111
tests/data/bb/3/0120
tests/data/bb/3/0210
tests/data/bb/3/1002
tests/data/bb/3/1011
tests/data/bb/3/1101
tests/data/bb/3/1110
tests/data/bb/3/1200
tests/data/bb/3/2001
tests/data/bb/3/2100
tests/data/bb/4/0013
tests/data/bb/4/0022
tests/data/bb/4/0031
tests/data/bb/4/0112
tests/data/bb/4/0121
tests/data/bb/4/0130
tests/data/bb/4/0211
tests/data/bb/4/0220
tests/data/bb/4/0310
tests/data/bb/4/1003
tests/data/bb/4/1012
tests/data/bb/4/1021
tests/data/bb/4/1102
tests/data/bb/4/1111
tests/data/bb/4/1120
tests/data/bb/4/1201
tests/data/bb/4/1210
tests/data/bb/4/1300
tests/data/bb/4/2002
tests/data/bb/4/2011
tests/data/bb/4/2101
tests/data/bb/4/2110
tests/data/bb/4/2200
tests/data/bb/4/3001
tests/data/bb/4/3100
tests/data/bb/5/0014
tests/data/bb/5/0023
tests/data/bb/5/0032
tests/data/bb/5/0041
tests/data/bb/5/0113
tests/data/bb/5/0122
tests/data/bb/5/0131
tests/data/bb/5/0140
tests/data/bb/5/0212
tests/data/bb/5/0221
tests/data/bb/5/0230
tests/data/bb/5/0311
tests/data/bb/5/0320
tests/data/bb/5/0410
tests/data/bb/5/1004
tests/data/bb/5/1013
tests/data/bb/5/1022
tests/data/bb/5/1031
tests/data/bb/5/1103
tests/data/bb/5/1112
tests/data/bb/5/1121
tests/data/bb/5/1130
tests/data/bb/5/1202
tests/data/bb/5/1211
tests/data/bb/5/1220
tests/data/bb/5/1301
tests/data/bb/5/1310
tests/data/bb/5/1400
tests/data/bb/5/2003
tests/data/bb/5/2012
tests/data/bb/5/2021
tests/data/bb/5/2102
tests/data/bb/5/2111
tests/data/bb/5/2120
tests/data/bb/5/2201
tests/data/bb/5/2210
tests/data/bb/5/2300
tests/data/bb/5/3002
tests/data/bb/5/3011
tests/data/bb/5/3101
tests/data/bb/5/3110
tests/data/bb/5/3200
tests/data/bb/5/4001
tests/data/bb/5/4100
tests/data/bb/6/0015
tests/data/bb/6/0024
tests/data/bb/6/0033
tests/data/bb/6/0042
tests/data/bb/6/0051
tests/data/bb/6/0114
tests/data/bb/6/0123
tests/data/bb/6/0132
tests/data/bb/6/0141
tests/data/bb/6/0150
tests/data/bb/6/0213
tests/data/bb/6/0222
tests/data/bb/6/0231
tests/data/bb/6/0240
tests/data/bb/6/0312
tests/data/bb/6/0321
tests/data/bb/6/0330
tests/data/bb/6/0411
tests/data/bb/6/0420
tests/data/bb/6/0510
tests/data/bb/6/1005
tests/data/bb/6/1014
tests/data/bb/6/1023
tests/data/bb/6/1032
tests/data/bb/6/1041
tests/data/bb/6/1104
tests/data/bb/6/1113
tests/data/bb/6/1122
tests/data/bb/6/1131
tests/data/bb/6/1140
tests/data/bb/6/1203
tests/data/bb/6/1212
tests/data/bb/6/1221
tests/data/bb/6/1230
tests/data/bb/6/1302
tests/data/bb/6/1311
tests/data/bb/6/1320
tests/data/bb/6/1401
tests/data/bb/6/1410
tests/data/bb/6/1500
tests/data/bb/6/2004
tests/data/bb/6/2013
tests/data/bb/6/2022
tests/data/bb/6/2031
tests/data/bb/6/2103
tests/data/bb/6/2112
tests/data/bb/6/2121
tests/data/bb/6/2130
tests/data/bb/6/2202
tests/data/bb/6/2211
tests/data/bb/6/2220
tests/data/bb/6/2301
tests/data/bb/6/2310
tests/data/bb/6/2400
tests/data/bb/6/3003
tests/data/bb/6/3012
tests/data/bb/6/3021
tests/data/bb/6/3102
tests/data/bb/6/3111
tests/data/bb/6/3120
tests/data/bb/6/3201
tests/data/bb/6/3210
tests/data/bb/6/3300
tests/data/bb/6/4002
tests/data/bb/6/4011
tests/data/bb/6/4101
tests/data/bb/6/4110
tests/data/bb/6/4200
tests/data/bb/6/5001
tests/data/bb/6/5100
tests/2017.pdn
tests/model.py
tests/model0_X4.h5
tests/model0_X4_f.h5
tests/model1_X2_X3_X4.h5
tests/model1_X2_X3_X4_2.h5
tests/model1_X2_X3_X4_X5.h5
tests/model1_X2_X3_X4_X5_v2.h5
tests/model1_X2_X4.h5
tests/model1_X3_X4.h5
tests/model1_X4.h5
tests/model1_X4_2.h5
tests/model1_X4_f.h5
tests/model1_X4_f2.h5
tests/model1_X4_f3.h5
tests/model1_X5_f3.h5
tests/model1_X6.h5
tests/model2_X4_f.h5
tests/model2_X4_f2.h5
tests/model2_X5_f3.h5
tests/model3_X4_f.h5
tests/model3_X4_f2.h5
tests/models/model0_X2_X3_X4_v2.h5
tests/run/logs/.DS_Store
tests/run/logs/logger_main.log
tests/run/logs/logger_mcts.log
tests/run/logs/logger_memory.log
tests/run/logs/logger_model.log
tests/run/logs/logger_tourney.log
tests/run/memory/.DS_Store
tests/run/models/.DS_Store
tests/run/models/model.png
tests/X2.npy
tests/X2.txt
tests/X3.npy
tests/X4.npy
tests/X4e.npy
tests/X5_s.npy
tests/X5_s1.npy
tests/X5g.npy
tests/X5g2.npy
tests/y2.npy
tests/y3.npy
tests/y4.npy
tests/y4e.npy
tests/y5_s.npy
tests/y5_s2.npy
tests/y5g.npy
tests/y5g2.npy
tests/y5g_true.npy
build/temp.win-amd64-cpython-310/Release/tools/python-bindings.obj
build/temp.win-amd64-cpython-310/Release/src/var.obj
build/temp.win-amd64-cpython-310/Release/src/util.obj
build/temp.win-amd64-cpython-310/Release/src/tt.obj
build/temp.win-amd64-cpython-310/Release/src/thread.obj
build/temp.win-amd64-cpython-310/Release/src/terminal.obj
build/temp.win-amd64-cpython-310/Release/src/sort.obj
build/temp.win-amd64-cpython-310/Release/src/socket.obj
build/temp.win-amd64-cpython-310/Release/src/search.obj
build/temp.win-amd64-cpython-310/Release/src/score.obj
build/temp.win-amd64-cpython-310/Release/src/pos.obj
build/temp.win-amd64-cpython-310/Release/src/move.obj
build/temp.win-amd64-cpython-310/Release/src/list.obj
build/temp.win-amd64-cpython-310/Release/src/libmy.obj
build/temp.win-amd64-cpython-310/Release/src/hub.obj
build/temp.win-amd64-cpython-310/Release/src/hash.obj
build/temp.win-amd64-cpython-310/Release/src/gen.obj
build/temp.win-amd64-cpython-310/Release/src/game.obj
build/temp.win-amd64-cpython-310/Release/src/fen.obj
build/temp.win-amd64-cpython-310/Release/src/eval.obj
build/temp.win-amd64-cpython-310/Release/src/dxp.obj
build/temp.win-amd64-cpython-310/Release/src/common.obj
build/temp.win-amd64-cpython-310/Release/src/book.obj
build/temp.win-amd64-cpython-310/Release/src/bit.obj
build/temp.win-amd64-cpython-310/Release/src/bb_index.obj
build/temp.win-amd64-cpython-310/Release/src/bb_comp.obj
build/temp.win-amd64-cpython-310/Release/src/bb_base.obj
build/lib.win-amd64-cpython-310/draughts1.cp310-win_amd64.pyd
*.pdn
*.h5
*.log
tests/run/memory/.DS_Store
tests/run/models/.DS_Store
tests/run/models/model.png
*.npy
tests/.ipynb_checkpoints/test_scan-checkpoint.ipynb
tests/.ipynb_checkpoints/test2-Copy1-checkpoint.ipynb
tests/.ipynb_checkpoints/run-checkpoint.ipynb
tests/.ipynb_checkpoints/notebook-checkpoint.ipynb
tests/.ipynb_checkpoints/loss checking-checkpoint.ipynb
tests/.ipynb_checkpoints/live-MetaSquares-checkpoint.ipynb
tests/.ipynb_checkpoints/live-checkpoint.ipynb
tests/.ipynb_checkpoints/EGDB3-checkpoint.ipynb
tests/.ipynb_checkpoints/EGDB2-checkpoint.ipynb
tests/.ipynb_checkpoints/EGDB1-checkpoint.ipynb
tests/.ipynb_checkpoints/EGDB-checkpoint.ipynb
tests/.ipynb_checkpoints/create_data-checkpoint.ipynb
tests/.ipynb_checkpoints/check_model-checkpoint.ipynb
build/lib.win-amd64-3.10/draughts1.cp310-win_amd64.pyd
build/lib.win-amd64-cpython-310/draughts1.cp310-win_amd64.pyd
build/temp.win-amd64-3.10/Release/src/bb_base.obj
build/temp.win-amd64-3.10/Release/src/bb_comp.obj
build/temp.win-amd64-3.10/Release/src/bb_index.obj
build/temp.win-amd64-3.10/Release/src/bit.obj
build/temp.win-amd64-3.10/Release/src/book.obj
build/temp.win-amd64-3.10/Release/src/common.obj
build/temp.win-amd64-3.10/Release/src/draughts1.cp310-win_amd64.exp
build/temp.win-amd64-3.10/Release/src/draughts1.cp310-win_amd64.lib
build/temp.win-amd64-3.10/Release/src/dxp.obj
build/temp.win-amd64-3.10/Release/src/eval.obj
build/temp.win-amd64-3.10/Release/src/fen.obj
build/temp.win-amd64-3.10/Release/src/game.obj
build/temp.win-amd64-3.10/Release/src/gen.obj
build/temp.win-amd64-3.10/Release/src/hash.obj
build/temp.win-amd64-3.10/Release/src/hub.obj
build/temp.win-amd64-3.10/Release/src/libmy.obj
build/temp.win-amd64-3.10/Release/src/list.obj
build/temp.win-amd64-3.10/Release/src/move.obj
build/temp.win-amd64-3.10/Release/src/pos.obj
build/temp.win-amd64-3.10/Release/src/score.obj
build/temp.win-amd64-3.10/Release/src/search.obj
build/temp.win-amd64-3.10/Release/src/socket.obj
build/temp.win-amd64-3.10/Release/src/sort.obj
build/temp.win-amd64-3.10/Release/src/terminal.obj
build/temp.win-amd64-3.10/Release/src/thread.obj
build/temp.win-amd64-3.10/Release/src/tt.obj
build/temp.win-amd64-3.10/Release/src/util.obj
build/temp.win-amd64-3.10/Release/src/var.obj
build/temp.win-amd64-3.10/Release/tools/python-bindings.obj
build/temp.win-amd64-cpython-310/Release/src/bb_base.obj
build/temp.win-amd64-cpython-310/Release/src/bb_comp.obj
build/temp.win-amd64-cpython-310/Release/src/bb_index.obj
build/temp.win-amd64-cpython-310/Release/src/bit.obj
build/temp.win-amd64-cpython-310/Release/src/book.obj
build/temp.win-amd64-cpython-310/Release/src/common.obj
build/temp.win-amd64-cpython-310/Release/src/draughts1.cp310-win_amd64.exp
build/temp.win-amd64-cpython-310/Release/src/draughts1.cp310-win_amd64.lib
build/temp.win-amd64-cpython-310/Release/src/dxp.obj
build/temp.win-amd64-cpython-310/Release/src/eval.obj
build/temp.win-amd64-cpython-310/Release/src/fen.obj
build/temp.win-amd64-cpython-310/Release/src/game.obj
build/temp.win-amd64-cpython-310/Release/src/gen.obj
build/temp.win-amd64-cpython-310/Release/src/hash.obj
build/temp.win-amd64-cpython-310/Release/src/hub.obj
build/temp.win-amd64-cpython-310/Release/src/libmy.obj
build/temp.win-amd64-cpython-310/Release/src/list.obj
build/temp.win-amd64-cpython-310/Release/src/move.obj
build/temp.win-amd64-cpython-310/Release/src/pos.obj
build/temp.win-amd64-cpython-310/Release/src/score.obj
build/temp.win-amd64-cpython-310/Release/src/search.obj
build/temp.win-amd64-cpython-310/Release/src/socket.obj
build/temp.win-amd64-cpython-310/Release/src/sort.obj
build/temp.win-amd64-cpython-310/Release/src/terminal.obj
build/temp.win-amd64-cpython-310/Release/src/thread.obj
build/temp.win-amd64-cpython-310/Release/src/tt.obj
build/temp.win-amd64-cpython-310/Release/src/util.obj
build/temp.win-amd64-cpython-310/Release/src/var.obj
build/temp.win-amd64-cpython-310/Release/tools/python-bindings.obj
dist/draughts1-0.11-py3.10-win-amd64.egg
draughts1.egg-info/dependency_links.txt
draughts1.egg-info/not-zip-safe
draughts1.egg-info/PKG-INFO
draughts1.egg-info/SOURCES.txt
draughts1.egg-info/top_level.txt
tests/.ipynb_checkpoints/PDN0-checkpoint.ipynb
data/bb/2/0011
data/bb/2/0110
data/bb/2/1001
data/bb/2/1100
data/bb/3/0012
data/bb/3/0021
data/bb/3/0111
data/bb/3/0120
data/bb/3/0210
data/bb/3/1002
data/bb/3/1011
data/bb/3/1101
data/bb/3/1110
data/bb/3/1200
data/bb/3/2001
data/bb/3/2100
data/bb/4/0013
data/bb/4/0022
data/bb/4/0031
data/bb/4/0112
data/bb/4/0121
data/bb/4/0130
data/bb/4/0211
data/bb/4/0220
data/bb/4/0310
data/bb/4/1003
data/bb/4/1012
data/bb/4/1021
data/bb/4/1102
data/bb/4/1111
data/bb/4/1120
data/bb/4/1201
data/bb/4/1210
data/bb/4/1300
data/bb/4/2002
data/bb/4/2011
data/bb/4/2101
data/bb/4/2110
data/bb/4/2200
data/bb/4/3001
data/bb/4/3100
data/bb/5/0014
data/bb/5/0023
data/bb/5/0032
data/bb/5/0041
data/bb/5/0113
data/bb/5/0122
data/bb/5/0131
data/bb/5/0140
data/bb/5/0212
data/bb/5/0221
data/bb/5/0230
data/bb/5/0311
data/bb/5/0320
data/bb/5/0410
data/bb/5/1004
data/bb/5/1013
data/bb/5/1022
data/bb/5/1031
data/bb/5/1103
data/bb/5/1112
data/bb/5/1121
data/bb/5/1130
data/bb/5/1202
data/bb/5/1211
data/bb/5/1220
data/bb/5/1301
data/bb/5/1310
data/bb/5/1400
data/bb/5/2003
data/bb/5/2012
data/bb/5/2021
data/bb/5/2102
data/bb/5/2111
data/bb/5/2120
data/bb/5/2201
data/bb/5/2210
data/bb/5/2300
data/bb/5/3002
data/bb/5/3011
data/bb/5/3101
data/bb/5/3110
data/bb/5/3200
data/bb/5/4001
data/bb/5/4100
data/bb/6/0015
data/bb/6/0024
data/bb/6/0033
data/bb/6/0042
data/bb/6/0051
data/bb/6/0114
data/bb/6/0123
data/bb/6/0132
data/bb/6/0141
data/bb/6/0150
data/bb/6/0213
data/bb/6/0222
data/bb/6/0231
data/bb/6/0240
data/bb/6/0312
data/bb/6/0321
data/bb/6/0330
data/bb/6/0411
data/bb/6/0420
data/bb/6/0510
data/bb/6/1005
data/bb/6/1014
data/bb/6/1023
data/bb/6/1032
data/bb/6/1041
data/bb/6/1104
data/bb/6/1113
data/bb/6/1122
data/bb/6/1131
data/bb/6/1140
data/bb/6/1203
data/bb/6/1212
data/bb/6/1221
data/bb/6/1230
data/bb/6/1302
data/bb/6/1311
data/bb/6/1320
data/bb/6/1401
data/bb/6/1410
data/bb/6/1500
data/bb/6/2004
data/bb/6/2013
data/bb/6/2022
data/bb/6/2031
data/bb/6/2103
data/bb/6/2112
data/bb/6/2121
data/bb/6/2130
data/bb/6/2202
data/bb/6/2211
data/bb/6/2220
data/bb/6/2301
data/bb/6/2310
data/bb/6/2400
data/bb/6/3003
data/bb/6/3012
data/bb/6/3021
data/bb/6/3102
data/bb/6/3111
data/bb/6/3120
data/bb/6/3201
data/bb/6/3210
data/bb/6/3300
data/bb/6/4002
data/bb/6/4011
data/bb/6/4101
data/bb/6/4110
data/bb/6/4200
data/bb/6/5001
data/bb/6/5100
dist/draughts1-0.11-py3.10-win-amd64.egg
draughts1.egg-info/PKG-INFO
tests/.ipynb_checkpoints/PDN0-checkpoint.ipynb
build/temp.win-amd64-cpython-310/Release/src/bb_base.obj
build/temp.win-amd64-cpython-310/Release/src/bb_comp.obj
build/temp.win-amd64-cpython-310/Release/src/bb_index.obj
build/temp.win-amd64-cpython-310/Release/src/bit.obj
build/temp.win-amd64-cpython-310/Release/src/book.obj
build/temp.win-amd64-cpython-310/Release/src/common.obj
build/temp.win-amd64-cpython-310/Release/src/draughts1.cp310-win_amd64.exp
build/temp.win-amd64-cpython-310/Release/src/draughts1.cp310-win_amd64.lib
build/temp.win-amd64-cpython-310/Release/src/dxp.obj
build/temp.win-amd64-cpython-310/Release/src/eval.obj
build/temp.win-amd64-cpython-310/Release/src/fen.obj
build/temp.win-amd64-cpython-310/Release/src/game.obj
build/temp.win-amd64-cpython-310/Release/src/gen.obj
build/temp.win-amd64-cpython-310/Release/src/hash.obj
build/temp.win-amd64-cpython-310/Release/src/hub.obj
build/temp.win-amd64-cpython-310/Release/src/libmy.obj
build/temp.win-amd64-cpython-310/Release/src/list.obj
build/temp.win-amd64-cpython-310/Release/src/move.obj
build/temp.win-amd64-cpython-310/Release/src/pos.obj
build/temp.win-amd64-cpython-310/Release/src/score.obj
build/temp.win-amd64-cpython-310/Release/src/search.obj
build/temp.win-amd64-cpython-310/Release/src/socket.obj
build/temp.win-amd64-cpython-310/Release/src/sort.obj
build/temp.win-amd64-cpython-310/Release/src/terminal.obj
build/temp.win-amd64-cpython-310/Release/src/thread.obj
build/temp.win-amd64-cpython-310/Release/src/tt.obj
build/temp.win-amd64-cpython-310/Release/src/util.obj
build/temp.win-amd64-cpython-310/Release/src/var.obj
build/temp.win-amd64-cpython-310/Release/tools/python-bindings.obj
build/temp.win-amd64-cpython-310/Release/src/bb_base.obj
build/temp.win-amd64-cpython-310/Release/src/bb_comp.obj
build/temp.win-amd64-cpython-310/Release/src/bb_index.obj
build/temp.win-amd64-cpython-310/Release/src/bit.obj
build/temp.win-amd64-cpython-310/Release/src/book.obj
build/temp.win-amd64-cpython-310/Release/src/common.obj
build/temp.win-amd64-cpython-310/Release/src/draughts1.cp310-win_amd64.exp
build/temp.win-amd64-cpython-310/Release/src/draughts1.cp310-win_amd64.lib
build/temp.win-amd64-cpython-310/Release/src/dxp.obj
build/temp.win-amd64-cpython-310/Release/src/eval.obj
build/temp.win-amd64-cpython-310/Release/src/fen.obj
build/temp.win-amd64-cpython-310/Release/src/game.obj
build/temp.win-amd64-cpython-310/Release/src/gen.obj
build/temp.win-amd64-cpython-310/Release/src/hash.obj
build/temp.win-amd64-cpython-310/Release/src/hub.obj
build/temp.win-amd64-cpython-310/Release/src/libmy.obj
build/temp.win-amd64-cpython-310/Release/src/list.obj
build/temp.win-amd64-cpython-310/Release/src/move.obj
build/temp.win-amd64-cpython-310/Release/src/pos.obj
build/temp.win-amd64-cpython-310/Release/src/score.obj
build/temp.win-amd64-cpython-310/Release/src/search.obj
build/temp.win-amd64-cpython-310/Release/src/socket.obj
build/temp.win-amd64-cpython-310/Release/src/sort.obj
build/temp.win-amd64-cpython-310/Release/src/terminal.obj
build/temp.win-amd64-cpython-310/Release/src/thread.obj
build/temp.win-amd64-cpython-310/Release/src/tt.obj
build/temp.win-amd64-cpython-310/Release/src/util.obj
build/temp.win-amd64-cpython-310/Release/src/var.obj
build/temp.win-amd64-cpython-310/Release/tools/python-bindings.obj
draughts1.egg-info/PKG-INFO
tests/__pycache__/model.cpython-310.pyc
tests/__pycache__/memory.cpython-310.pyc
tests/__pycache__/MCTS.cpython-310.pyc
tests/__pycache__/initialise.cpython-310.pyc
tests/__pycache__/game.cpython-310.pyc
tests/__pycache__/funcs.cpython-310.pyc
tests/__pycache__/config.cpython-310.pyc
tests/__pycache__/agent.cpython-310.pyc
tests/.ipynb_checkpoints/PDN0-checkpoint.ipynb
tests/run/memory/memory0001.p
tests/run/memory/memory0002.p
tests/__pycache__/agent.cpython-310.pyc
tests/__pycache__/game.cpython-310.pyc
tests/__pycache__/initialise.cpython-310.pyc
tests/__pycache__/MCTS.cpython-310.pyc
tests/run/memory/memory0003.p
tests/run/memory/memory0004.p
tests/run/memory/memory0005.p
tests/run/memory/memory0006.p
tests/run/memory/memory0007.p
tests/run/memory/memory0008.p
tests/run/memory/memory0009.p
tests/run/memory/memory0010.p
tests/run/memory/memory0011.p
tests/run/memory/memory0012.p
tests/run/memory/memory0013.p
tests/run/models/model_v0001
tests/run/models/model_v0002
tests/run/models/model_v0003
tests/run/models/model_v0004
tests/run/models/model_v0005
tests/run/models/model_v0006
tests/run/models/model_v0007
tests/run/models/model_v0008
tests/run/models/model_v0009
tests/run/models/model_v0010
tests/run/models/model_v0011
tests/run/models/weights_v0001
tests/run/models/weights_v0002
tests/run/models/weights_v0003
tests/run/models/weights_v0004
tests/run/models/weights_v0005
tests/run/models/weights_v0006
tests/run/models/weights_v0007
tests/run/models/weights_v0008
tests/run/models/weights_v0009
tests/run/models/weights_v0010
tests/run/models/weights_v0011
tests/__pycache__/agent.cpython-310.pyc
tests/__pycache__/game.cpython-310.pyc
tests/__pycache__/initialise.cpython-310.pyc
tests/__pycache__/MCTS.cpython-310.pyc
tests/run/memory/memory0003.p
tests/run/memory/memory0004.p
tests/run/memory/memory0005.p
tests/run/models/model_v0001
tests/run/models/weights_v0001
tests/run/models/weights_v0002
*.p
tests/run/memory/memory0003.p
tests/run/memory/memory0004.p
tests/run/memory/memory0005.p
tests/run/memory1/memory0001.p
tests/run/models/model_v0001
tests/run/models/weights_v0001
tests/run/models/weights_v0002
tests/run/models1/model_v0001
tests/run/models1/model_v0002
tests/run/models1/model_v0003
tests/run/models1/weights_v0001
tests/run/models1/weights_v0002
tests/run/models1/weights_v0003
tests/run/models2/model_v0001
tests/run/models2/model_v0002
tests/run/models2/model_v0003
tests/run/models2/model_v0004
tests/run/models2/model_v0005
tests/run/models2/model_v0006
tests/run/models2/model_v0007
tests/run/models2/model_v0008
tests/run/models2/model_v0009
tests/run/models2/model_v0010
tests/run/models2/model_v0011
tests/run/models2/weights_v0001
tests/run/models2/weights_v0002
tests/run/models2/weights_v0003
tests/run/models2/weights_v0004
tests/run/models2/weights_v0005
tests/run/models2/weights_v0006
tests/run/models2/weights_v0007
tests/run/models2/weights_v0008
tests/run/models2/weights_v0009
tests/run/models2/weights_v0010
tests/run/models2/weights_v0011
tests/run/memory/memory0003.p
tests/run/memory/memory0004.p
tests/run/memory/memory0005.p
tests/run/memory1/memory0001.p
tests/run/models/model_v0001
tests/run/models/weights_v0001
tests/run/models/weights_v0002
tests/__pycache__/agent.cpython-310.pyc
tests/__pycache__/config.cpython-310.pyc
tests/__pycache__/funcs.cpython-310.pyc
tests/__pycache__/game.cpython-310.pyc
tests/__pycache__/initialise.cpython-310.pyc
tests/__pycache__/MCTS.cpython-310.pyc
tests/__pycache__/memory.cpython-310.pyc
tests/.ipynb_checkpoints/PDN0-checkpoint.ipynb
tests/__pycache__/agent.cpython-310.pyc
tests/__pycache__/config.cpython-310.pyc
tests/__pycache__/funcs.cpython-310.pyc
tests/__pycache__/game.cpython-310.pyc
tests/__pycache__/initialise.cpython-310.pyc
tests/__pycache__/memory.cpython-310.pyc
tests/run/models3/model_v0001
tests/run/models3/model_v0002
tests/run/models3/weights_v0001
tests/run/models3/weights_v0002
tests/__pycache__/agent.cpython-310.pyc
tests/__pycache__/config.cpython-310.pyc
tests/__pycache__/funcs.cpython-310.pyc
tests/__pycache__/game.cpython-310.pyc
tests/__pycache__/initialise.cpython-310.pyc
tests/__pycache__/memory.cpython-310.pyc
*.pyc
